@import '~pretty-checkbox/src/pretty-checkbox.scss';
* {
  box-sizing: border-box;
}

html,
body {
  position: relative;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-weight: normal;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

#app {
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}

img {
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

label {
  font-weight: bold;
}

button:hover {
  cursor: pointer;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  overflow: hidden;
}

@font-face {
  font-family: "Candy_Number-webfont";
  src: url("../font/candynumber.eot");
}

@font-face {
  font-family: "Candy_Number-webfont";
  src: url(//:) format("no404"), url("../font/candynumber.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}